<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test - UniBase</title>
     <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'responsive.css' %}">
</head>

<body>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="header-container">
                <a href="student-dashboard.html" class="logo">
                    <span class="logo-text">UniBase</span>
                </a>

</body>

                </div>

                <nav>
                    <ul>
                        <li>
                            <select id="language-selector" class="language-selector">
                                <option value="en">English</option>
                                <option value="ru">Русский</option>
                                <option value="uz">O'zbekcha</option>
                            </select>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- Test Content -->
    <section class="section">
        <div class="container" style="max-width: 900px;">
            <div id="alert-container"></div>

            <!-- Test Header -->
<!--            <div class="card mb-3">-->
<!--                <div class="flex-between">-->
<!--                    <div>-->
<!--                        <h2 id="test-name" data-translate="test_taking_loading">Loading Test...</h2>-->
<!--                        <p class="card-description"><span data-translate="test_taking_question_of">Question</span> <span-->
<!--                                id="current-question-num">1</span> <span data-translate="test_taking_of">of</span> <span-->
<!--                                id="total-questions">0</span></p>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->

            <!-- Question Container -->
            <div class="question-container" id="question-container">
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
            </div>
            <div class="flex-between">
                <button class="btn btn-primary" id="next-btn" type="submit">Testni Boshlash</button>
            </div>
        </div>
    </section>
</form>
</body>
</html>